body {
    background: rgb(217, 149, 234);
    color: beige;
    text-align: center;
    font-family: 'Nerko One', cursive;

}

.cuadro1 {
    background: rgb(236, 199, 165);
}

.cuadro1 img {
    width: 100%;
}